@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700&display=swap');

/*
WHITE SPACES AND PAGE STYLING
*/

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-size: 100%;
    font-family: 'Quicksand', sans-serif;
}


div {
    padding: 0.2em;

}

.secondary-text {
    font-size: 1.2rem
}


/* 
BUTTONS 
*/

/* Refresh Back to top */
.btn .button {
    border-radius: 5px;
    border: solid 1px;
    padding: 0.25em;
}

/* 
SMALL/MOBILE DEVICE ALERT
 */

#alert {
    border-radius: 0;
    margin: 0px;
    padding: 0;
    background-color: silver;
    color: rgba(238, 238, 238, 0.8)
}

#alert p {
    margin: 0;
    padding: 1px;
    color: #3192f2;
}

/* 
SECTIONS
 */

.jumbotron {
    margin: 0;

}

#latest,
#about {
    background-color: silver;
    color: #403d3d;
}

.about p {
    padding-top: 0.5em;
    text-align: justify;
}

#historical {
    background-color: lightgray;
}

#summary,
#comment {
    background-color: darkgrey;
    color: rgba(43, 40, 40, 0.75);
}

รท
/* 
CHARTS
 */

/* 2019 */
/* Chart 3 */
/* Bubble-Chart */

#seat-votes .dc-chart .axis.x text {
    font: 1em;
}

/* Votes */
#seat-votes .axisx text.x-axis-label.x-label {
    font-size: 0.8em;
    font-weight: 100;
    line-height: 1;
}

/* Seats */
#seat-votes .y-axis-label.y-label {
    font-size: 0.8em;
    font-weight: 400;
    transform: translate(20px, 90px) rotate(0);
}

/* Historical */
/* Chart 4 */
/* Stacked-Chart */

#votes .axis.x text {
    transform: rotate(-45deg) translate(-20px, 0px);
    font-size: 1em;
    font-weight: 400;
}

#votes .x-axis-label.x-label {
    font-size: 2em;
    font-weight: 300;
}

/* Chart 5 */
/* Composite-Chart */

#composite .axis.x text,
#composite .axis.y {
    font-size: 1em;
    font-weight: 400;
}

#composite .y-axis-label.y-label {
    font-size: 1rem;
    font-weight: 300;
    transform: translate(50px, 149px) rotate(0);
}

#composite .x-axis-label.x-label {
    font-size: 1rem;
    font-weight: 300;
}

/* gridlines needed to be made darker to be seen */
.dc-chart .axis .grid-line,
.dc-chart .axis .grid-line line,
.dc-chart .grid-line,
.dc-chart .grid-line line {
    stroke: black;
    opacity: 0.5;
    shape-rendering: crispEdges;
}

footer {
    background-color: rgba(51, 51, 51, 0.75);
    color: snow;
}

#resources ul li a,
#resources h6 {
    color: rgba(238, 238, 238, 0.8)
}

dc.chart text {
    font: 1em sans-serif;
}